*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-repeat: no-repeat;
    background-size: 100%;
}
.header{
    width: 100%;
    height: 40px;
    background: #333;
}
.header-nav{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.skin{
    float: left;
    color: #fff;
    line-height: 40px;
    cursor: pointer;
}
.login{
    float: right;
}
.login a{
    line-height: 40px;
    margin-left: 5px;
    color: #fff;
}
.log{
    display: none;
    /* width: fit-content; */
}
.username,.pwd{
    width: 400px;
    margin-left:15px;
}
.log-item,.go{
    width: 300px;
    height: 30px;
    margin-top: 20px;
    border-radius: 10px;
}
.go{
    display: block;
    margin-left: 70px;
    width: 300px;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    background: #5ccabf;
    margin-bottom: 20px;
    text-align: center;
}
.skinbox{
    display: none;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    top: 40px;
    left: 0;
    color: #555;
    background: #fff;
    box-shadow: 0 0 10px #555;
}
.skinbox-header{
    width: 80%;
    line-height: 40px;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}
.hot{
    float: left;
    padding: 0 10px;
    background: rgba(0,0,255,.3);
    border-radius: 10px;
    cursor: pointer;
}
.slideup{
    float: right;
    cursor: pointer;
    color: #f40;
}
.skinbox-image{
    width: 80%;
    line-height: 40px;
    margin: 20px auto;
    overflow: hidden;
}
.skin-item{
    float: left;
    width: 10%;
    height: 60px;
    margin-left: 10px;
}
.skin-item img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}